                {{#each model}}
                    {{#if _view.contentIndex}}
                        <div class="question-info hidden" {{bind-attr id=id}}>
                    {{else}}
                        <div class="question-info" {{bind-attr id=id}}>
                    {{/if}}
                         <div class="row welcome-text">
                            <div class="col-xs-12">
                                <h3>{{display_name}}:</h3>
                                <p>{{body}}</p>
                            </div>
                        </div>
                          {{#if textarea}}
                         {{textarea value=answer name=post_name size="200"}}
                         {{else}}
                         {{#if textfield}}
                           <div class="col-sm-3"><p class="strong">{{options.value1}}: </p></div>
                           <div class="col-sm-9"><p>{{view Ember.TextField disabled=entryNotAllowed name=post_name.value1 size="50" data-rule-required="true" data-rule-alpha="true" data-msg-required="Please enter a valid name"}} </p></div>
                           <div class="col-sm-3"><p class="strong">{{options.value2}}: </p></div>
                           <div class="col-sm-9"><p>{{view Ember.TextField disabled=entryNotAllowed name=post_name.value2 size="50" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter a valid email address"}} </p></div>
                         {{/if}}

                         {{#if radio}}
                           {{view Ember.RadioButton name=post_name  value=options.value1 class="radio-class" }}<label for="radio1" >{{options.value1}}</label><br />
                           {{view Ember.RadioButton name=post_name  value=options.value2 class="radio-class" }}<label for="radio1" >{{options.value2}}</label><br />
                           {{view Ember.RadioButton name=post_name  value=options.value3 class="radio-class" }}<label for="radio1" >{{options.value3}}</label><br />
                           {{view Ember.RadioButton name=post_name  value=options.value4 class="radio-class" }}<label for="radio1" >{{options.value4}}</label>
                         {{/if}}
                         {{/if}}
                    </div>
                    <!-- unbound id -->
            {{/each}}
