 <div class="row welcome-text">
    <div class="col-xs-12">
        <h3>{{display_name}}:</h3>
        <p>{{body}}</p>
    </div>
</div>
{{#if textarea}}
  <!-- unbound id -->
  {{textarea value=answer id=id name=post_name}}
  {{else}}
  {{#if radio}}
  {{view Ember.RadioButton name=id    value=options.value1 class="radio-class" }}<label for="radio1" >{{options.value1}}</label><br />
 {{view Ember.RadioButton name=id   value=options.value2 class="radio-class"}}<label for="radio2" >{{options.value2}}</label><br />
 {{view Ember.RadioButton name=id    value=options.value3 class="radio-class"}}<label for="radio3">{{options.value3}}</label><br />
 {{view Ember.RadioButton name=id    value=options.value4 class="radio-class"}}<label for="radio4" >{{options.value4}}</label><br />

{{/if}}
{{/if}}
