{{#each model}}
{{#if _view.contentIndex}}
<div class="question-info hidden" {{bind-attr id=id}}>
    {{else}}
    <div class="question-info form-horizontal" {{bind-attr id=id}}>
        {{/if}}
        <div class="row welcome-text">
            <div class="col-xs-12">
                <h3>{{display_name}}:</h3>
                <p>{{body}}</p>
            </div>
        </div>
        {{input type="hidden" name=question_name value=body}}
        {{#if textarea}}
            {{textarea value=answer name=answer_name maxlength="140" class="form-control" data-limit="40" autofocus="autofocus"}}
            <div class="chars">Characters remaining: <span></span></div>
        {{else}}
            {{#if textfield}}
            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-2 control-label">{{options.value1}}</label>
                <div class="col-xs-12 col-sm-10">{{view Ember.TextField disabled=entryNotAllowed name=answer_name.value1 class="form-control" id="name" data-rule-required="true" data-rule-alpha="true" data-msg-required="Please enter a valid name"}}</div>
            </div>
            <div class="form-group">
                <label for="email" class="col-xs-12 col-sm-2 control-label">{{options.value2}}</label>
                <div class="col-xs-12 col-sm-10">{{view Ember.TextField disabled=entryNotAllowed name=answer_name.value2 class="form-control" id="email" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter a valid email address"}}</div>
            </div>

            <!--<div class="col-sm-3"><p class="strong">{{options.value1}}: </p></div>
    <div class="col-sm-9"><p>{{view Ember.TextField disabled=entryNotAllowed name=answer_name.value1 data-rule-required="true" data-rule-alpha="true" data-msg-required="Please enter a valid name"}} </p></div>
    <div class="col-sm-3"><p class="strong">{{options.value2}}: </p></div>
    <div class="col-sm-9"><p>{{view Ember.TextField disabled=entryNotAllowed name=answer_name.value2 data-rule-required="true" data-rule-email="true" data-msg-required="Please enter a valid email address"}} </p></div>-->
        {{/if}}

        {{#if radio}}
        <div class="radio">
            <label>
                {{view Ember.RadioButton name=answer_name  value=options.value1 class="radio-class"}}{{options.value1}}
            </label>
        </div>
        <div class="radio">
            <label>
                {{view Ember.RadioButton name=answer_name  value=options.value2 class="radio-class"}}{{options.value2}}
            </label>
        </div>
        <div class="radio">
            <label>
                {{view Ember.RadioButton name=answer_name  value=options.value3 class="radio-class"}}{{options.value3}}
            </label>
        </div>
        <div class="radio">
            <label>
                {{view Ember.RadioButton name=answer_name  value=options.value4 class="radio-class"}}{{options.value4}}
            </label>
        </div>
        <!--{{view Ember.RadioButton name=answer_name  value=options.value1 class="radio-class" }}<label for="radio1" >{{options.value1}}</label><br />
        {{view Ember.RadioButton name=answer_name  value=options.value2 class="radio-class" }}<label for="radio1" >{{options.value2}}</label><br />
        {{view Ember.RadioButton name=answer_name  value=options.value3 class="radio-class" }}<label for="radio1" >{{options.value3}}</label><br />
        {{view Ember.RadioButton name=answer_name  value=options.value4 class="radio-class" }}<label for="radio1" >{{options.value4}}</label>-->
        {{/if}}
        {{/if}}
    </div>
    <!-- unbound id -->
    {{/each}}
